# nginx
 
description "nginx http daemon"
author "George Shammas <georgyo@gmail.com>"
 
start on (runlevel [345] and started network)
stop on (runlevel [!345] or stopping network)
 
env DAEMON=/usr/sbin/nginx
 
expect fork
respawn
respawn limit 10 5
#oom never
 
pre-start script
        $DAEMON -t
        if [ $? -ne 0 ]
                then exit $?
        fi
end script
 
exec $DAEMON
