nginx:
  install_from_source: True
  with_luajit: False
  with_openresty: True
  modules:
    headers-more: 
      source: http://github.com/agentzh/headers-more-nginx-module/tarball/v0.21
      source_hash: sha1=DAFJAKSDFJAKDFJ
