nginx:
  install_from_source: True
  use_upstart: True
  with_luajit: False
  with_openresty: True
  modules:
    headers-more:
      source: http://github.com/agentzh/headers-more-nginx-module/tarball/v0.21
      source_hash: sha1=dbf914cbf3f7b6cb7e033fa7b7c49e2f8879113b
