{% macro sls_block(dict) %}
    {% for key, value in dict.items() %}
    - {{ key }}: {{ value|json(sort_keys=False) }}
    {% endfor %}
{% endmacro %}

{%- set tplroot = tpldir.split('/')[0] %}
{% set pillar_namespace = salt['pillar.get']('{}:pillar:namespace'.format(tplroot), tplroot) %}

{% import_yaml tplroot ~ "/defaults.yaml" as defaults %}
{% import_yaml tplroot ~ "/osfamilymap.yaml" as osfamilymap %}

{% set osfamily = salt['grains.filter_by'](osfamilymap, grain='os_family') or {} %}
{% do salt['defaults.merge'](defaults.nginx, osfamily) %}

{% if salt['pillar.get']('{}:install_from_openresty'.format(pillar_namespace), tplroot == 'openresty') %}

{# Merge OpenResty osfamilymap #}
{% import_yaml tplroot ~ "/openresty.yaml" as openrestymap %}
{% set openresty = salt['grains.filter_by'](openrestymap, grain='os_family') or {} %}
{% do salt['defaults.merge'](defaults.nginx, openresty) %}

{# Merge OpenResty osmap #}
{% import_yaml tplroot ~ "/openresty.osmap.yaml" as openrestyosmap %}
{% set openresty_os = salt['grains.filter_by'](openrestyosmap, grain='os') or {} %}
{% do salt['defaults.merge'](defaults.nginx, openresty_os) %}
{% endif %}

{% set nginx = salt['pillar.get'](pillar_namespace, default=defaults.nginx, merge=True) %}

{% if 'user' not in nginx.server.config %}
{% do nginx.server.config.update({
    'user': nginx.lookup.webuser,
}) %}
{% endif %}

{% if 'pid' not in nginx.server.config and 'pid_file' in nginx.lookup %}
{% do nginx.server.config.update({
    'pid': nginx.lookup.pid_file,
}) %}
{% endif %}

{% if salt['grains.get']('os_family') == 'RedHat' %}
{% do nginx.passenger.update({
    'passenger_root': '/usr/share/ruby/vendor_ruby/phusion_passenger/locations.ini',
    'passenger_instance_registry_dir': '/var/run/passenger-instreg',
}) %}
    {% if 'osfinger' in grains and salt['grains.get']('osfinger') == 'CentOS-6' %}
    {% do nginx.server.config.update({
        'pid': '/var/run/nginx.pid',
    }) %}
    {% do nginx.passenger.update({
        'passenger_root': '/usr/lib/ruby/1.8/phusion_passenger/locations.ini',
    }) %}
    {% endif %}
{% endif %}
